<div local-class="bench-view">
  {{#each benched as |player|}}
    {{#if (eq player.pos 'GK')}}
      <div local-class="gk">
        <img src="/assets/images/player.png" local-class="player-image">
        {{player.name}}
      </div>
    {{else}}
      <div local-class="outfield">
        <img src="/assets/images/player.png" local-class="player-image">
        {{player.name}}
      </div>
    {{/if}}
  {{/each}}
</div>
