<div local-class="draft-page">
  {{nav-bar
    title=navTitle}}
  {{draft-content
    players=players
    playerSelected=(action "showAddPlayerModal")}}
  {{!page-footer}}
</div>
{{#if isShowingAddPlayerModal}}
  {{#modal-dialog
    clickOutsideToClose=true}}
    {{confirm-selection
      player=selectedPlayer
      cancel=(action (mut isShowingAddPlayerModal) false)
      addPlayer=(queue (action addPlayer) (action (mut isShowingAddPlayerModal) false))}}
  {{/modal-dialog}}
{{/if}}
