<div local-class="member-squad">
  <h2 local-class="title">
    Squad
  </h2>
  <div local-class="headings">
    {{#each listTitles as |title|}}
      {{list-info
        title=title}}
    {{/each}}
  </div>
  <div local-class="content">
    {{#each squad as |player|}}
      {{squad-item
        player=player
        playerSelected=playerSelected}}
    {{/each}}
  </div>
</div>
