<div local-class="member-card">
  <h1 local-class="name">Name: {{member.memberName}}</h1>
  <h2 local-class="team-name">Team name: {{member.teamName}}</h2>
  <!-- <h2 local-class="points">Points: {{member.points}}</h2> -->
</div>
