<div local-class="pitch-view">
  <h2 local-class="title">
    Your squad
  </h2>
  <div local-class="pitch-container">
    <div local-class="pitch">
      <img src="/assets/images/pitch.png" local-class="pitch-image">
    </div>
    {{squad-view
      players=players
      member=member
      playerSelected=removePlayer}}
  </div>
  {{bench-view
    member=member
    players=players
    playerSelected=removePlayer}}
</div>
