<div local-class="player-list-info">
  <h2 local-class="name">
    Name
  </h2>
  <h2 local-class="pos">
    Position
  </h2>
  <h2 local-class="team">
    Team
  </h2>
  <h2 local-class="points">
    Points last year
  </h2>
</div>
