<button class="player-list-item__button" onclick={{action addPlayer player}}>
  <div class="player-list-item__name">{{player.name}}</div>
  <div class="player-list-item__pos">{{player.pos}}</div>
  <div class="player-list-item__team">{{player.team}}</div>
</button>
