<div local-class="player-list">
  <h2 local-class="title">
    Player list
  </h2>
  {{player-list-info}}
  <div local-class="content">
    {{#each players as |player|}}
      {{player-list-item
        player=player
        playerSelected=playerSelected}}
    {{/each}}
  </div>
</div>
