<div local-class="squad-view-def">
  {{#each def as |def|}}
    {{#if def.isStarting}}
      <div local-class="def">
        <img src="/assets/images/player.png" local-class="player-image">
        {{def.name}}
      </div>
    {{/if}}
  {{/each}}
</div>
