<div local-class="squad-view-gk">
  {{#each gk as |gk|}}
    {{#if gk.isStarting}}
      <div local-class="gk">
        <img src="/assets/images/player.png" local-class="player-image">
        {{gk.name}}
      </div>
    {{/if}}
  {{/each}}
</div>
