.confirm-selection {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 5px;
  border-color: gray;
  border-width: 1px;
  background-color: #fff;
  padding: 20px;
}

.message {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirm {
  font-size: 16px;
  background: #fff;
  border-radius: 3px;
}

.cancel {
  font-size: 16px;
  background: #fff;
  border-radius: 3px;
}
