.member-squad {
  margin-right: 100px;
}

.headings {
  display: flex;
  flex-direction: row;
}

.content {
  height: 400px;
  background-color: #d2d6d1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
