.player-list-info {
  width: 100%;
  min-height: 40px;
  font-size: 8px;
  outline: none;
  border: none;
  height: 35px;
  display: flex;
  flex-direction: row;
}

.team {
  display: flex;
  justify-content: center;
  width: 150px;
}

.points {
  display: flex;
  justify-content: center;
  width: 150px;
}

.name {
  display: flex;
  justify-content: center;
  width: 150px;
}

.pos {
  display: flex;
  justify-content: center;
  width: 150px;
}
