.player-list-info {
  width: 100%;
  min-height: 40px;
  font-size: 8px;
  outline: none;
  border: none;
  height: 35px;
  display: flex;
  flex-direction: row;


  &__team {
    display: flex;
    justify-content: center;
    width: 150px;
  }

  &__points {
    display: flex;
    justify-content: center;
    width: 150px;
  }

  &__name {
    display: flex;
    justify-content: center;
    width: 150px;
  }

  &__pos {
    display: flex;
    justify-content: center;
    width: 150px;
  }
}
