.player-list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.headings {
  display: flex;
  flex-direction: row;
}

.content {
  height: 400px;
  background-color: #d2d6d1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
