.player-list {
  display: flex;
  flex-direction: column;
  width: 500px;

  &__title {
    display: flex;
    justify-content: center;
  }

  &__content {
    height: 400px;
    background-color: #d2d6d1;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
