.player-list {

  &__title {
    display: flex;
    justify-content: center;
  }

  &__content {
    height: 300px;
    width: 400px;
    background-color: #BAC9E6;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
}
