.squad-view-gk {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.gk-starting {
  font-size: 12px;
  min-width: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.player-image {
  width: 25px;;

}
